$primary: #5265E1;
$danger: #FA5959;
$lletra: #808080;

@import '../node_modules/bootstrap/scss/bootstrap';

.navElements{
    text-transform: uppercase;
    font-family: calibri;
    font-size: .9rem;
    div{
        margin-right: 2rem;
        padding-top: .3rem;
        @media(max-width: 768px){
            font-size: 1.4rem;
            padding: 8px;
        }
    }
    button{
        margin-right: 3.5rem;
        text-transform: uppercase;
        font-family: calibri;
        font-size: .9rem;
        color: white;
   }
   @media(max-width: 768px){
       position: absolute;
       top:60px;
       left: -1400px;
       height: 230px;
       flex-direction: column;
       padding:10px;
       background: ivory;
       transition: all 2s;
   }
}
.hamb{
    position: absolute;
    top:-200px;
    @media(max-width: 768px){
        top:15px;
        left: 90%;
        width:1.6rem;
        cursor: pointer;
    }
}
header>div{
    h2{
        text-transform: capitalize;
        font-size: 2.8rem;
        font-weight: bold;
        @media(max-width: 768px){
            text-align: center;
            font-size: 2.7rem;
        }
    }
    p{
        font-size: 1.1rem;
        color: $lletra;
        @media(max-width: 768px){
            text-align:center;
            font-size: 1.3rem;
        }   
    }
    @media(max-width: 768px){
        display:flex;
        flex-direction: column-reverse;
    }
}
@media(max-width: 768px){
    header>div>div>div{
        display:flex;
        justify-content: space-between;
        button{
            width: 48%;
        }
    }
}
.features, .extension{
    h2{
        text-transform: capitalize;
        font-weight: bold;
        text-align: center;
    }
    p{
        color: $lletra;
        text-align: center;
    }
}
#myTab{
    button{
        border:none;
        color:$lletra;
        font-weight: bold;
    }
    button.active{
        border-bottom: 3px solid $danger;
        color:black;
    }
    @media(max-width: 890px){
        button{
            font-size: .8rem;
        }
    }
    @media(max-width:768px){
        button{
            font-size: 1.4rem;
            text-align: center;
            margin:auto;
            height: 4rem;;
        }
        li{
            border-top: 1px solid LightGray;
            border-bottom: 1px solid LightGray;
        }
    }
}
@media(max-width: 768px){
    #myTab{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .segonaPart{
        display: grid;
        grid-template-columns: 1;
        img{
            width: 100%;
        }
        div{
            width: 100%;
            margin-bottom: 20px;
            h2{
                text-align: center;
            }
            button{
                display: none;
            }
        }
    }
    .cartes{
        display: flex;
        flex-direction: column;
        .carta{
            width:100%;
            margin-top: 20px;
        }
    }
}
.segonaPart{
    h2{
        font-weight: bold;
    }
    p{
        color:$lletra;
        font-size: 1.1rem;
    }
}
.cartes{
    display: flex;
    margin: 0px 60px;
    .carta{
        margin: 0px 2%;
        border: none;
        h5{
            text-align: center;
        }
        p{
            color: $lletra;
            text-align: center;
        }
        .boto{
            margin: 20px 2% ;
            width:96%;
        }
    }
    img{
        width:35%;
        margin: 30px auto;
    }
}